In [ ]:
import pandas  as pd

In [6]:
s = pd.Series([10, 20, 30])

In [7]:
s

0    10
1    20
2    30
dtype: int64

In [8]:
data = {
    "Name": ["Ravi", "Amit", "Neha"],
    "Age": [25, 30, 28],
    "Salary": [40000, 50000, 45000]
}

df = pd.DataFrame(data)
df

   Name  Age  Salary
0  Ravi   25   40000
1  Amit   30   50000
2  Neha   28   45000

In [ ]:
df.to_csv('data.csv', index=False)
df.to_excel("data.xlsx", index=False)

df.to_json("data.json", orient="records", indent=2)

In [ ]:
df.head()
df.tail()
df.shape
df.columns
df.info()
df.describe()

In [9]:
df = pd.read_csv('/home/bipin/Documents/genai/bot/learning/notebook/data/flipkard.csv')

In [13]:
df.tail(5)

,product_id,product_name,category,brand,seller,seller_city,price,discount_percent,final_price,rating,...,weight_g,warranty_months,color,size,return_policy_days,is_returnable,payment_modes,shipping_weight_g,product_score,seller_rating
79995,FKP0079996,Prestige Ultra 500,Sports,Prestige,MegaStore,Kolkata,42928.63,5,40782.20,1.1,...,3069.10,0,Gold,One Size,10,True,"UPI,CARD",3273.175933,20.07,4.88
79996,FKP0079997,Sony Prime 225,Mobiles,Sony,QuickShop,Ahmedabad,20158.55,10,18142.70,3.8,...,4412.53,0,Blue,M,30,True,"COD,CARD",5452.722633,6.97,4.57
79997,FKP0079998,LG Series 545,Beauty,LG,UrbanRetails,Kolkata,25317.70,20,20254.16,4.7,...,3114.32,0,Blue,S,7,True,"COD,UPI,CARD",3500.625634,1.28,4.15
79998,FKP0079999,Reebok Model 744,Toys,Reebok,MegaStore,Kolkata,7414.51,40,4448.71,4.3,...,3496.17,24,Gold,XL,30,True,"CARD,Wallet",3940.607738,5.06,3.63
79999,FKP0080000,Puma Ultra 650,Home & Kitchen,Puma,ValueKart,Kolkata,55472.95,30,38831.06,3.8,...,1858.88,6,Green,M,30,True,"CARD,Wallet",2082.266179,72.66,3.87

In [14]:
df.shape

(80000, 25)

In [15]:
df.columns

Index(['product_id', 'product_name', 'category', 'brand', 'seller',
       'seller_city', 'price', 'discount_percent', 'final_price', 'rating',
       'review_count', 'stock_available', 'units_sold', 'listing_date',
       'delivery_days', 'weight_g', 'warranty_months', 'color', 'size',
       'return_policy_days', 'is_returnable', 'payment_modes',
       'shipping_weight_g', 'product_score', 'seller_rating'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          80000 non-null  object
 1   product_name        80000 non-null  object
 2   category            80000 non-null  object
 3   brand               80000 non-null  object
 4   seller              80000 non-null  object
 5   seller_city         80000 non-null  object
 6   price               80000 non-null  float64
 7   discount_percent    80000 non-null  int64
 8   final_price         80000 non-null  float64
 9   rating              80000 non-null  float64
 10  review_count        80000 non-null  int64
 11  stock_available     80000 non-null  int64
 12  units_sold          80000 non-null  int64
 13  listing_date        80000 non-null  object
 14  delivery_days       80000 non-null  int64
 15  weight_g            80000 non-null  float64
 16  warranty_months     80000 non-null  int64
 17  color               80000 non-null  object
 18  size                66516 non-null  object
 19  return_policy_days  80000 non-null  int64
 20  is_returnable       80000 non-null  bool
 21  payment_modes       80000 non-null  object
 22  shipping_weight_g   80000 non-null  float64
 23  product_score       80000 non-null  float64
 24  seller_rating       80000 non-null  float64
dtypes: bool(1), float64(7), int64(7), object(10)
memory usage: 14.7+ MB

In [17]:
df.describe()

,price,discount_percent,final_price,rating,review_count,stock_available,units_sold,delivery_days,weight_g,warranty_months,return_policy_days,shipping_weight_g,product_score,seller_rating
count,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.00000,80000.000000,80000.000000,80000.000000,80000.000000
mean,30137.256454,21.350625,23697.780600,2.999671,25102.249875,499.194262,2507.515775,6.006325,2522.224622,15.56400,12.362250,2899.960047,50.673750,4.002218
std,17274.048682,16.354446,14726.821259,1.156238,14428.769942,288.917706,1439.519972,3.160630,1428.287966,12.91307,10.019794,1650.921766,28.562732,0.577595
min,200.140000,0.000000,101.080000,1.000000,0.000000,0.000000,0.000000,1.000000,50.020000,0.00000,0.000000,53.155250,1.000000,3.000000
25%,15180.205000,10.000000,11341.722500,2.000000,12605.000000,249.000000,1261.000000,3.000000,1283.117500,6.00000,7.000000,1469.583781,25.950000,3.500000
50%,30164.455000,20.000000,22571.265000,3.000000,25166.500000,499.000000,2513.000000,6.000000,2524.550000,12.00000,10.000000,2892.632502,50.670000,4.010000
75%,45077.087500,40.000000,34521.057500,4.000000,37666.000000,749.000000,3754.000000,9.000000,3753.195000,24.00000,15.000000,4304.695597,75.430000,4.500000
max,59995.800000,50.000000,59995.800000,5.000000,49999.000000,999.000000,4999.000000,11.000000,4999.920000,36.00000,30.000000,6234.757448,100.000000,5.000000

In [20]:
df['brand'].unique()

array(['Adidas', 'LG', 'Redmi', 'Sony', 'Boat', 'Puma', 'Nike', 'Philips',
       'Whirlpool', 'Samsung', 'Prestige', 'Dell', 'Reebok', 'Apple',
       'HP'], dtype=object)

In [24]:
df[['brand','final_price']]

          brand  final_price
0        Adidas     30215.24
1            LG     27624.41
2         Redmi     30728.70
3          Sony     23217.94
4          Boat     14181.34
...         ...          ...
79995  Prestige     40782.20
79996      Sony     18142.70
79997        LG     20254.16
79998    Reebok      4448.71
79999      Puma     38831.06

[80000 rows x 2 columns]

In [27]:
df.iloc[8:12]

,product_id,product_name,category,brand,seller,seller_city,price,discount_percent,final_price,rating,...,weight_g,warranty_months,color,size,return_policy_days,is_returnable,payment_modes,shipping_weight_g,product_score,seller_rating
8,FKP0000009,Whirlpool Model 764,Toys,Whirlpool,MegaStore,Chennai,26866.61,30,18806.63,2.0,...,857.60,24,Silver,NaN,7,True,"COD,CARD",999.695736,8.17,3.96
9,FKP0000010,Philips Prime 114,Electronics,Philips,BestBuy,Bengaluru,53392.85,15,45383.92,4.5,...,288.08,36,Green,S,10,True,"UPI,CARD",355.641359,64.93,4.66
10,FKP0000011,Samsung Ultra 702,Home & Kitchen,Samsung,SuperMart,Delhi,35385.77,50,17692.88,2.6,...,2423.39,36,Silver,M,0,False,"COD,CARD",2647.579570,4.69,4.28
11,FKP0000012,Philips Series 768,Toys,Philips,SmartDeals,Mumbai,1364.39,10,1227.95,1.0,...,1635.52,12,Black,One Size,15,True,"COD,CARD",1786.329359,4.29,4.84

In [ ]:
df.isnull()
df.isnull().sum()
df.dropna()
df.fillna(0)

In [29]:
df.isnull().sum()

product_id                0
product_name              0
category                  0
brand                     0
seller                    0
seller_city               0
price                     0
discount_percent          0
final_price               0
rating                    0
review_count              0
stock_available           0
units_sold                0
listing_date              0
delivery_days             0
weight_g                  0
warranty_months           0
color                     0
size                  13484
return_policy_days        0
is_returnable             0
payment_modes             0
shipping_weight_g         0
product_score             0
seller_rating             0
dtype: int64

In [31]:
df2=df.dropna()

In [33]:
df3=df.fillna(0)

In [34]:
df3.isnull().sum()

product_id            0
product_name          0
category              0
brand                 0
seller                0
seller_city           0
price                 0
discount_percent      0
final_price           0
rating                0
review_count          0
stock_available       0
units_sold            0
listing_date          0
delivery_days         0
weight_g              0
warranty_months       0
color                 0
size                  0
return_policy_days    0
is_returnable         0
payment_modes         0
shipping_weight_g     0
product_score         0
seller_rating         0
dtype: int64

In [32]:
df2.shape

(66516, 25)

In [38]:
df.groupby('brand').size()

brand
Adidas       5281
Apple        5389
Boat         5258
Dell         5341
HP           5297
LG           5345
Nike         5358
Philips      5340
Prestige     5401
Puma         5409
Redmi        5340
Reebok       5387
Samsung      5345
Sony         5287
Whirlpool    5222
dtype: int64

In [39]:
brand_category_rating = df.groupby(['category', 'brand'])['rating'].mean().round(2)
brand_category_rating

category    brand
Appliances  Adidas       2.97
            Apple        3.01
            Boat         3.07
            Dell         3.02
            HP           3.06
                         ...
Toys        Redmi        2.97
            Reebok       2.98
            Samsung      3.02
            Sony         3.04
            Whirlpool    2.97
Name: rating, Length: 120, dtype: float64

In [ ]:
df.iloc[0]        # index-based
df.loc[0]         # label-based

In [3]:


df = pd.DataFrame({
    "Name": ["Ravi", "Amit", "Neha", None],
    "Age": [25, None, 28, 30],
    "Salary": [40000, 50000, None, None]
})

df

   Name   Age   Salary
0  Ravi  25.0  40000.0
1  Amit   NaN  50000.0
2  Neha  28.0      NaN
3  None  30.0      NaN

In [ ]:
df.isnull()
df.isnull().sum()
df.dropna()
df.fillna(0)

In [ ]:
flipkart = pd.read_csv('data/flipkard.csv')
heart = pd.read_csv('data/Heart_disease.csv')