# SQL for Beginners: A Python Notebook Tutorial

Welcome! In this notebook, we will learn the basics of SQL (Structured Query Language) using Python's built-in `sqlite3` library. 

## What is SQL?
SQL is a standard language for storing, manipulating, and retrieving data in databases.

## What is SQLite?
SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine. It is built into Python, so you don't need to install anything extra!

## 1. Connecting to a Database
First, we need to create a connection to a database. If the file doesn't exist, SQLite will create it for us. We can also use `:memory:` to create a temporary database in RAM.

In [ ]:
import sqlite3

# Connect to a database (or create one)
connection = sqlite3.connect("tutorial.db")

# Create a cursor information to execute SQL commands
cursor = connection.cursor()

print("Database connection established!")

## 2. Creating a Table
A database consists of tables. Let's create a table named `students` with the following columns:
- `id`: An integer that uniquely identifies each student (Primary Key).
- `name`: Text string for the student's name.
- `age`: Integer for the student's age.
- `grade`: Text string (e.g., 'A', 'B', 'C').

In [ ]:
create_table_query = """
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
);
"""
cursor.execute(create_table_query)
print("Table 'students' created successfully.")

## 3. Inserting Data
Now let's add some data to our table using the `INSERT INTO` command.

In [ ]:
# Inserting a single row
cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Alice', 20, 'A')")

# Inserting multiple rows at once
students_data = [
    ('Bob', 21, 'B'),
    ('Charlie', 22, 'A'),
    ('David', 20, 'C'),
    ('Eve', 21, 'B')
]

cursor.executemany("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", students_data)

# Commit the changes to save them
connection.commit()
print("Data inserted successfully.")

## 4. Querying Data (SELECT)
The most common SQL command is `SELECT`. It allows you to retrieve data from the database.

In [ ]:
# Select everything (* means all columns)
print("--- All Students ---")
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

### Filtering Data (WHERE)
You can use the `WHERE` clause to filter results.

In [ ]:
print("\n--- Students with Grade A ---")
cursor.execute("SELECT * FROM students WHERE grade = 'A'")
for row in cursor.fetchall():
    print(row)

### Sorting (ORDER BY) and Limiting (LIMIT)

In [ ]:
print("\n--- Students ordered by Age (Ascending) ---")
cursor.execute("SELECT * FROM students ORDER BY age ASC")
for row in cursor.fetchall():
    print(row)

print("\n--- Top 2 Oldest Students ---")
cursor.execute("SELECT * FROM students ORDER BY age DESC LIMIT 2")
for row in cursor.fetchall():
    print(row)

## 5. Updating Data
Use `UPDATE` to modify existing records. **Always use a WHERE clause**, otherwise you might update every row!

In [ ]:
# Improve David's grade
cursor.execute("UPDATE students SET grade = 'B' WHERE name = 'David'")
connection.commit()

print("\n--- Updated David's Grade ---")
cursor.execute("SELECT * FROM students WHERE name = 'David'")
print(cursor.fetchone())

## 6. Deleting Data
Use `DELETE` to remove records. Again, **be careful with the WHERE clause**.

In [ ]:
# Remove Eve from the class
cursor.execute("DELETE FROM students WHERE name = 'Eve'")
connection.commit()

print("\n--- All Students after Deletion ---")
cursor.execute("SELECT * FROM students")
for row in cursor.fetchall():
    print(row)

## 7. Aggregation Functions
SQL has built-in functions to perform calculations like `COUNT`, `SUM`, `AVG`, `MIN`, `MAX`.

In [ ]:
cursor.execute("SELECT COUNT(*) FROM students")
count = cursor.fetchone()[0]
print(f"Total Students: {count}")

cursor.execute("SELECT AVG(age) FROM students")
avg_age = cursor.fetchone()[0]
print(f"Average Age: {avg_age}")

## 8. Closing the Connection
Always close the connection when you are done.

In [ ]:
connection.close()

## 9. Practice Exercises
1. Insert yourself into the `students` table.
2. Find all students older than 20.
3. Count how many students have a grade of 'B'.