In [14]:
import sqlite3

conn = sqlite3.connect("students.db")
cursor = conn.cursor()

In [15]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS students_info (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    marks FLOAT
)
""")

conn.commit()

In [16]:
cursor.execute("INSERT INTO students_info VALUES (1, 'Rahul', 21, 85.5)")
cursor.execute("INSERT INTO students_info VALUES (2, 'Anita', 20, 92)")
cursor.execute("INSERT INTO students_info VALUES (3, 'Aman', 22, 78)")

conn.commit()

In [18]:
cursor.execute("SELECT * FROM students_info")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Rahul', 21, 85.5)
(2, 'Anita', 20, 92.0)
(3, 'Aman', 22, 78.0)

In [19]:
cursor.execute("SELECT name, marks FROM students_info WHERE marks > 80")
print(cursor.fetchall())

[('Rahul', 85.5), ('Anita', 92.0)]

In [21]:
cursor.execute("SELECT * FROM students_info ORDER BY marks DESC")
print(cursor.fetchall())

[(2, 'Anita', 20, 92.0), (1, 'Rahul', 21, 85.5), (3, 'Aman', 22, 78.0)]

In [22]:
cursor.execute("DELETE FROM students_info WHERE id = 1")
conn.commit()

In [23]:
cursor.execute("SELECT COUNT(*) FROM students_info")
print("Total students:", cursor.fetchone()[0])

cursor.execute("SELECT AVG(marks) FROM students_info")
print("Average marks:", cursor.fetchone()[0])

Total students: 2
Average marks: 85.0